@charset="utf8"


body{
	margin-top: 40px;
		text-align: center;
		font-size: 14px;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}
.container{

}
#image{
	background: url(../img/house.jpg) no-repeat;
	margin-top: 50px;
	height: 420px;
	text-indent: -99999px;
}
.error { float: none; color: red; padding-left: .5em; vertical-align: top; }

#login{
	float:left;		
	margin-top: 104px;
	
}
 #search{
float:right;
}
.property-img{
	background:url(../img/home1.jpg) no-repeat;
	width: 448px;
	height: 77px;
	text-indent: -99999px;
	margin-top: 30px;
}
.address-info{
	width:81%;
	float:right;
	font-weight: bold;
	margin-top: -45px;
   }

#footernote .p{
	float:center;
}
.footer ,.push{
	height: 142px;
}
.footer {
	position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:black;
}
.footer #copyrights {
float: left;
line-height: 30px;
font-size: 15px;
color:white;
}

.sidebar{
	margin-top: 49px;
}
.grid1{
	margin-top: 20px;
}
#table{
	width: 70%;
}
.top-space{
	margin-top: 40px;
}
#calendar {
		width: 400px;
		margin: 0 auto;
		}
.to-do {
	margin-top: 50px;
		}
.mycols{
	width:200px;
	float: left;
}
.mycols1{
	width:200px;
	 margin-left: 60px;
}
.smy_position{
	margin-top: 30px;
}